.pagination-container {
    margin: 20px 0;
}

.pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.pagination button {
    padding: 8px 16px;
    border: 1px solid #ddd;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s;
}

.pagination button:hover:not(:disabled) {
    background-color: #808080;
}

.pagination button.active {
    background-color: #78a75a;
    color: white;
    border-color: #649348;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}