.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page_title {
    background-color: #78a75a;
    color: #ffffff;
    border-radius: 20px;
    width: 10vw;
    text-align: center;
}

.cards_div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
